<%- include('../template/head')-%>

    <input type="text" id="category-search" name="q" placeholder="Search...">
    <button onclick="onSearch()">Search</button>


    <body>
        <table id='category-table'>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>

        <!-- modal update  -->

        <div id="editCategory" hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Update Category</h2>
                        <div id="edit-category-content">

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- modal view  -->
        <div id="viewCategory" hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">View Category</h2>
                        <div id="view-category-content">

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- modal create  -->
        <button class="create-btn" onclick="onCreate(this)">Create Category</button>
        <div id="createCategory" hidden="true" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Create a new Category</h2>
                        <div id="create-category-content">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>

            init(1).then(() => {
                renderPage()
                handleViewBtn()
                handleEditBtn()
                handleDeleteBtn()

            })
        </script>
    </body>
    <%- include('../template/footer')-%>