<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <form>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-category" target="_blank">Catagories</a>
                    </li>
                </form>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>



    </nav>


    <table class="table" id="grid-categories">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col"> Category Name</th>
                <th scope="col">Create AT</th>
                <th scope="col">Update AT</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="table-content">
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#category-create">
        Create category
    </button>
    <!-- Button trigger modal -->
    <!-- Create modal -->
    <div class="modal fade" id="category-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Name: <input class="form-control" type="text" id="nameTxt" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Create()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- view modal -->
    <div class="modal fade" id="category-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div id="category-view-content"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    <div class="modal fade" id="category-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <button type="button" onclick="OnEditSubmit">
                        Save changes
                    </button>
                </div>
                <div class="modal-body">
                    <div id="category-edit-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete modal -->
    <div class="modal fade" id="category-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Do you want to Delete category</h5>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Delete()">Yes</button>
                </div>
                <div class="modal-body">
                    <div id="category-delete-content"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let Delete = (id) => {
            let response = fetch('api/category/' + id, {
                method: 'DELETE',
                headers: { 'content-type': 'application/json' }
            })
            init()

        }


        let View = async (id) => {

            let response = await fetch('/api/category/' + id, {
                method: 'GET',
                headers: {
                    "content-Type": "application/json"
                }
            })
            let data = await response.json()


            let content = ''
            content += '<div>'
            content += '<div>' + data.category_name + '</div>'
            content += '<div>' + data.create_at + '</div>'
            content += '<div>' + data.update_at + '</div>'
            content += '</div>'

            $('#category-view-content').html(content)
            $('#category-view').modal('show')
        }


        let Edit = async (id) => {
            let Category = await CategoryById(id)

            renderEdit(Category)
            $('#category-edit').modal('show')

        }

        let CategoryById = async (id) => {

            let response = await fetch('/api/category/' + id, {
                method: 'GET',
                headers: { 'content-type': 'application/json' },

            })
            let data = await response.json()
            return data
        }
        let renderEdit = (data) => {
            let content = ''
            content += '<div>'
            content += '<input value= "' + data.category_name + ' " id = "category_name_id"/>'
            content += '<input value= "' + data.category_id + ' " hidden id = "category_edit_id" />'
            content += '</div>'
            $("#category-edit-content").html(content);
            console.log(data)
        }



        let Create = async () => {
            let name = $('#nameTxt').val()

            let payLoad = {
                'category_name': name,
            }

            let response = await fetch('/api/category', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payLoad)
            })

            if (response.status == 200) {
                console.log(response)
                alert('Success')
                $('#category-create').modal('hide')
                init()
            }

        }


        let init = async () => {

            let data = await fetchData()
            renderTable(data)

        }

        let fetchData = async () => {
            let response = await fetch('/api/categories', {
                method: 'GET',
                headers: {
                    "content-Type": "application/json"
                }

            }) //call API 
            let data = await response.json(); // convert to JSON
            return data


        }

        let renderTable = (data) => {
            var content = ''
            if (data.length > 0) {
                for (i = 0; i < data.length; i++) {
                    content += '<tr>';
                    content += '<th>' + data[i].category_id + '</th>';
                    content += '<td>' + data[i].category_name + '</td>';
                    content += '<td>' + data[i].create_at + '</td>';
                    content += '<td>' + data[i].update_at + '</td>';
                    content += '<td><button onclick="View(' + data[i].category_id + ')">View</button>';
                    content += '<button onclick="Edit(' + data[i].category_id + ')">Edit</button>';
                    content += '<button onclick="Delete(' + data[i].category_id + ')">Delete</button></td>';
                    content += '</tr>';
                }
            } else {
                content = '<p>No data</p>'
            }

            $("#table-content").html(content);

        }

        init()



    </script>

</body>

</html>